# 2. Spark SQL

https://drive.google.com/file/d/1_mH86hiGYxRnYZBs_JaPkLcxEHUOjrcr/view

1. Read data from from S3 s3a://aws-stocks-dataset/AAL.csv
as dataframe

2. Create a new column month, based on Date
3. With Spark SQL get the highest price per month and sort the
output so the latest is first.
4. Print the output

In [3]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [4]:
spark = SparkSession.builder.master("local[1]").appName("AWSpark").getOrCreate()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

### 1. Read data from from S3 s3a://aws-stocks-dataset/AAL.csv as dataframe

In [10]:
df = spark.read.option("header","true").csv("s3a://aws-stocks-dataset/AAL.csv")
df.show()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----------+------------------+------------------+-------+------------------+------------------+------------------+
|      Date|               Low|              Open| Volume|              High|             Close|    Adjusted Close|
+----------+------------------+------------------+-------+------------------+------------------+------------------+
|27-09-2005|19.100000381469727|21.049999237060547| 961200|21.399999618530273|19.299999237060547|18.194910049438477|
|28-09-2005|19.200000762939453|19.299999237060547|5747900|20.530000686645508|              20.5|19.326204299926758|
|29-09-2005|20.100000381469727|20.399999618530273|1078200|20.579999923706055|20.209999084472656| 19.05280303955078|
|30-09-2005| 20.18000030517578|20.260000228881836|3123300|21.049999237060547|21.010000228881836|19.806997299194336|
|03-10-2005|20.899999618530273|20.899999618530273|1057900|             21.75|              21.5|20.268939971923828|
|04-10-2005|21.440000534057617|21.440000534057617|1768800|              22.5| 22.15999984741211|20.891155242919922|
|05-10-2005|             21.75|22.100000381469727| 904300|22.309999465942383|22.200000762939453|20.928861618041992|
|06-10-2005|22.399999618530273|22.600000381469727|1614200|              23.0|22.579999923706055|  21.2871036529541|
|07-10-2005|21.799999237060547|             22.25| 753400|22.600000381469727|22.149999618530273|20.881725311279297|
|10-10-2005|22.100000381469727|22.280000686645508| 538700|22.290000915527344|22.209999084472656| 20.93828773498535|
|11-10-2005|21.799999237060547|22.260000228881836| 764600|22.299999237060547|21.979999542236328|20.721452713012695|
|12-10-2005|21.639999389648438|21.899999618530273| 912900|22.049999237060547|21.760000228881836| 20.51405143737793|
|13-10-2005|21.399999618530273|21.700000762939453| 531300|21.799999237060547|21.709999084472656|20.466915130615234|
|14-10-2005|21.850000381469727|21.850000381469727| 887800|22.399999618530273|22.270000457763672| 20.99485206604004|
|17-10-2005|21.850000381469727|22.149999618530273| 464000|22.219999313354492|22.079999923706055| 20.81573486328125|
|18-10-2005|21.350000381469727|22.059999465942383|1815500|22.299999237060547|21.489999771118164| 20.25951385498047|
|19-10-2005|20.850000381469727|  21.3700008392334|1466000|21.600000381469727|  21.3799991607666|20.155813217163086|
|20-10-2005|20.850000381469727|21.350000381469727| 640900|21.479999542236328|21.020000457763672|19.816425323486328|
|21-10-2005|21.010000228881836|21.020000457763672| 917000|22.420000076293945|21.959999084472656|20.702604293823242|
|24-10-2005|21.950000762939453|22.010000228881836| 508800|22.360000610351562|22.309999465942383|21.032560348510742|
+----------+------------------+------------------+-------+------------------+------------------+------------------+
only showing top 20 rows

### 2. Create a new column month, based on Date

In [8]:
## not in sql...
# df = df.withColumn('year', split(df['Date'], '-').getItem(0)) \
#        .withColumn('month', split(df['Date'], '-').getItem(1)) \
#       .withColumn('day', split(df['Date'], '-').getItem(2))
# df.show(truncate=False)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [11]:
df = df.withColumn("Date_dt", to_date(col('Date'), "dd-MM-yyyy"))
df.show(5)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----------+------------------+------------------+-------+------------------+------------------+------------------+----------+
|      Date|               Low|              Open| Volume|              High|             Close|    Adjusted Close|   Date_dt|
+----------+------------------+------------------+-------+------------------+------------------+------------------+----------+
|27-09-2005|19.100000381469727|21.049999237060547| 961200|21.399999618530273|19.299999237060547|18.194910049438477|2005-09-27|
|28-09-2005|19.200000762939453|19.299999237060547|5747900|20.530000686645508|              20.5|19.326204299926758|2005-09-28|
|29-09-2005|20.100000381469727|20.399999618530273|1078200|20.579999923706055|20.209999084472656| 19.05280303955078|2005-09-29|
|30-09-2005| 20.18000030517578|20.260000228881836|3123300|21.049999237060547|21.010000228881836|19.806997299194336|2005-09-30|
|03-10-2005|20.899999618530273|20.899999618530273|1057900|             21.75|              21.5|20.268939971923828|2005-10-03|
+----------+------------------+------------------+-------+------------------+------------------+------------------+----------+
only showing top 5 rows

In [36]:
# register the table 
df.createOrReplaceTempView("stocks")

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [37]:
df_month = spark.sql("SELECT Date_dt, EXTRACT(MONTH FROM Date_dt) AS Month FROM stocks")

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [38]:
df_month.show(5)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----------+-----+
|   Date_dt|Month|
+----------+-----+
|2005-09-27|    9|
|2005-09-28|    9|
|2005-09-29|    9|
|2005-09-30|    9|
|2005-10-03|   10|
+----------+-----+
only showing top 5 rows

In [44]:
spark.sql("SELECT Date_dt, EXTRACT(MONTH FROM Date_dt) AS Month FROM stocks Limit 5").show()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----------+-----+
|   Date_dt|Month|
+----------+-----+
|2005-09-27|    9|
|2005-09-28|    9|
|2005-09-29|    9|
|2005-09-30|    9|
|2005-10-03|   10|
+----------+-----+

In [48]:
df = spark.sql("SELECT *, EXTRACT(MONTH FROM Date_dt) AS Month FROM stocks")

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [49]:
df.show()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----------+------------------+------------------+-------+----+------------------+------------------+----------+-----+
|      Date|               Low|              Open| Volume|High|             Close|    Adjusted Close|   Date_dt|Month|
+----------+------------------+------------------+-------+----+------------------+------------------+----------+-----+
|27-09-2005|19.100000381469727|21.049999237060547| 961200|21.0|19.299999237060547|18.194910049438477|2005-09-27|    9|
|28-09-2005|19.200000762939453|19.299999237060547|5747900|20.0|              20.5|19.326204299926758|2005-09-28|    9|
|29-09-2005|20.100000381469727|20.399999618530273|1078200|20.0|20.209999084472656| 19.05280303955078|2005-09-29|    9|
|30-09-2005| 20.18000030517578|20.260000228881836|3123300|21.0|21.010000228881836|19.806997299194336|2005-09-30|    9|
|03-10-2005|20.899999618530273|20.899999618530273|1057900|21.0|              21.5|20.268939971923828|2005-10-03|   10|
|04-10-2005|21.440000534057617|21.440000534057617|1768800|22.0| 22.15999984741211|20.891155242919922|2005-10-04|   10|
|05-10-2005|             21.75|22.100000381469727| 904300|22.0|22.200000762939453|20.928861618041992|2005-10-05|   10|
|06-10-2005|22.399999618530273|22.600000381469727|1614200|23.0|22.579999923706055|  21.2871036529541|2005-10-06|   10|
|07-10-2005|21.799999237060547|             22.25| 753400|22.0|22.149999618530273|20.881725311279297|2005-10-07|   10|
|10-10-2005|22.100000381469727|22.280000686645508| 538700|22.0|22.209999084472656| 20.93828773498535|2005-10-10|   10|
|11-10-2005|21.799999237060547|22.260000228881836| 764600|22.0|21.979999542236328|20.721452713012695|2005-10-11|   10|
|12-10-2005|21.639999389648438|21.899999618530273| 912900|22.0|21.760000228881836| 20.51405143737793|2005-10-12|   10|
|13-10-2005|21.399999618530273|21.700000762939453| 531300|21.0|21.709999084472656|20.466915130615234|2005-10-13|   10|
|14-10-2005|21.850000381469727|21.850000381469727| 887800|22.0|22.270000457763672| 20.99485206604004|2005-10-14|   10|
|17-10-2005|21.850000381469727|22.149999618530273| 464000|22.0|22.079999923706055| 20.81573486328125|2005-10-17|   10|
|18-10-2005|21.350000381469727|22.059999465942383|1815500|22.0|21.489999771118164| 20.25951385498047|2005-10-18|   10|
|19-10-2005|20.850000381469727|  21.3700008392334|1466000|21.0|  21.3799991607666|20.155813217163086|2005-10-19|   10|
|20-10-2005|20.850000381469727|21.350000381469727| 640900|21.0|21.020000457763672|19.816425323486328|2005-10-20|   10|
|21-10-2005|21.010000228881836|21.020000457763672| 917000|22.0|21.959999084472656|20.702604293823242|2005-10-21|   10|
|24-10-2005|21.950000762939453|22.010000228881836| 508800|22.0|22.309999465942383|21.032560348510742|2005-10-24|   10|
+----------+------------------+------------------+-------+----+------------------+------------------+----------+-----+
only showing top 20 rows

### 3. With Spark SQL get the highest price per month and sort the output so the latest is first.

In [34]:
# changing datatype of a row
# its the same: 
# df = df.withColumn('High', col('High').cast('float'))

df = df.withColumn('High', df.High.cast('float'))

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [50]:
df.printSchema()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

root
 |-- Date: string (nullable = true)
 |-- Low: string (nullable = true)
 |-- Open: string (nullable = true)
 |-- Volume: string (nullable = true)
 |-- High: float (nullable = true)
 |-- Close: string (nullable = true)
 |-- Adjusted Close: string (nullable = true)
 |-- Date_dt: date (nullable = true)
 |-- Month: integer (nullable = true)

In [51]:
df.show(5)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----------+------------------+------------------+-------+----+------------------+------------------+----------+-----+
|      Date|               Low|              Open| Volume|High|             Close|    Adjusted Close|   Date_dt|Month|
+----------+------------------+------------------+-------+----+------------------+------------------+----------+-----+
|27-09-2005|19.100000381469727|21.049999237060547| 961200|21.0|19.299999237060547|18.194910049438477|2005-09-27|    9|
|28-09-2005|19.200000762939453|19.299999237060547|5747900|20.0|              20.5|19.326204299926758|2005-09-28|    9|
|29-09-2005|20.100000381469727|20.399999618530273|1078200|20.0|20.209999084472656| 19.05280303955078|2005-09-29|    9|
|30-09-2005| 20.18000030517578|20.260000228881836|3123300|21.0|21.010000228881836|19.806997299194336|2005-09-30|    9|
|03-10-2005|20.899999618530273|20.899999618530273|1057900|21.0|              21.5|20.268939971923828|2005-10-03|   10|
+----------+------------------+------------------+-------+----+------------------+------------------+----------+-----+
only showing top 5 rows

In [69]:
# SQL view must be created again with the full table for the new sql query
df.createOrReplaceTempView('stocks')

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [72]:
query = """
SELECT Month, max(High) as Highest_Price 
FROM stocks 
GROUP BY Month
ORDER BY Month
"""

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

### 4. Print the output

In [73]:
spark.sql(query).show()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+-----+-------------+
|Month|Highest_Price|
+-----+-------------+
|    1|         62.0|
|    2|         59.0|
|    3|         57.0|
|    4|         53.0|
|    5|         52.0|
|    6|         51.0|
|    7|         56.0|
|    8|         52.0|
|    9|         48.0|
|   10|         53.0|
|   11|         63.0|
|   12|         62.0|
+-----+-------------+