In [26]:
from faker import Faker
import pandas as pd
import random
import math

In [27]:
# https://github.com/joke2k/faker

fake = Faker()
fake.name()

'Cynthia Meyer'

In [28]:
for _ in range(20):
    print(fake.name())

Robert Jenkins
Rodney Rowe
Lisa Li
Billy Perez
Jack Matthews
Lisa Harper
Nicholas Martinez
David Torres
Richard Cruz
Patricia Garcia
Elizabeth Jennings
Katherine Blevins
Megan Castro
Annette Villanueva
Shannon Mitchell
Rebecca Taylor
Joseph Mercer
Larry Bailey
Michael Johnson
Ashley Walsh

In [29]:
def create_participant(k):
    fake = Faker()
    list_participant = []
    for _ in range(k):
        list_participant.append(fake.name())
    return list_participant

In [30]:
list_participant = create_participant(23)
list_participant

['Justin Erickson',
 'Matthew Thompson',
 'Caroline Graves',
 'Michael Smith',
 'Jason Ellison',
 'Haley Cole',
 'Jonathan Blankenship',
 'Tristan Miller',
 'Brenda Morgan',
 'Sarah White',
 'Steven Mann',
 'Miss Jennifer Long',
 'Eric Walton',
 'Mackenzie Adams',
 'Terri Payne',
 'Scott Dean',
 'Christopher Marshall',
 'Dalton Cook',
 'William Stark',
 'Robert Franklin',
 'Stephanie Smith',
 'Melissa Robinson',
 'Valerie Chapman DDS']

In [31]:
def create_course(n):
    fake = Faker()
    list_course = []
    for _ in range(n):
        list_course.append(fake.country())
    return list_course

In [32]:
list_course = create_course(6) 
list_course

['Seychelles', 'Belarus', 'Timor-Leste', 'Rwanda', 'Burkina Faso', 'Croatia']

In [33]:
random_participant = random.choice(list_participant)
random_course = random.choice(list_course)

In [34]:
random_participant

'Miss Jennifer Long'

In [35]:
random_course

'Belarus'

In [38]:
def random_assignment(n_course, k_participant):
    max_group_number = math.floor(k_participant / n_course)
    fake = Faker()
    list_course = []
    list_participant = []
    list_distribute = []
    list_index = [i for i in range(n_course)]
    
    #generating random courses
    for _ in range(n_course):
        list_course.append(fake.country())
        
    #generating random participants
    for _ in range(k_participant):
        list_participant.append(fake.name()) 

    # creating participant list for each course
    for course in list_course:
        course = []
        for _ in range(max_group_number):
            participant = random.choice(list_participant)
            list_participant.remove(participant)
            course.append(participant)
        list_distribute.append(course)

    # in case participants cant be divided equally into groups
    for _ in range(len(list_participant)):
        participant = random.choice(list_participant)
        list_participant.remove(participant)
        random_index = random.choice(list_index)
        list_index.remove(random_index)
        list_distribute[random_index].append(participant)      

    # dict_assign = dict(zip(list_course, list_distribute))

    # df = pd.DataFrame.from_dict(dict_assign)

    df = pd.DataFrame(list_distribute).T
    df.columns = list_course
    df.index += 1

    return df

In [40]:
df = random_assignment(6, 23)
df

,Croatia,Lithuania,Vanuatu,Morocco,Netherlands Antilles,Pitcairn Islands
1,Denise Henry,Christina Rogers,Scott Graham,Dr. Jared Rose Jr.,Paul Fuentes,Tiffany Hull
2,Shelly Cox,Steven Shields,Tammy Hunt,Crystal Contreras,Barbara Duffy,Pamela Harris
3,Robert Melendez,Matthew Rivera,Madison Christensen,Megan Duncan,Taylor Fisher,Judy Hansen
4,Gina Harrison,Johnny Anderson MD,None,Devin Huynh,Courtney Johnson,Dennis Farmer

In [41]:
df.to_csv('random_assignment')