<h1 align="center">Group Generator</h1>

### 1. Importing libraries

In [1]:
from faker import Faker
import pandas as pd
import random
import math

### 2. Faker

##### https://github.com/joke2k/faker - it creates random names, emails, phone numbers etc.

In [2]:
# initiating instance with Faker Class 
fake = Faker()

In [18]:
fake.name()

'Cesar Walls'

In [23]:
for _ in range(20):
    print(fake.name())

Alexandra Shaffer
Regina Morgan
Emily Parker
Shawn Mitchell
Cindy Wong
Alfred Coleman
Teresa Ellis
Stephanie Pierce
Joshua Lane
Thomas Quinn
Mark Oneal
Samantha Johnson
Derek Cooper
Tiffany Cooley
Benjamin Williams
Tina Lozano
Laura Parsons
Nicole Howell
William Cobb
Allison Scott

### 3. List of participants with random fake names

In [24]:
def create_participant(k):
    """Returns a list of participants with random fake names"""
    fake = Faker()
    list_participant = []
    for _ in range(k):
        list_participant.append(fake.name())
    return list_participant

In [25]:
list_participant = create_participant(23)
list_participant

['Lacey Gregory',
 'Hannah Davis',
 'Laura Bruce',
 'Zachary Hutchinson',
 'Amber Dunlap',
 'Anna Sanders',
 'Chelsea Lambert',
 'Sarah Turner',
 'Ricky Bell',
 'Brittany Wright',
 'Jennifer Haley',
 'Samuel Long',
 'Elizabeth Day MD',
 'Daniel Rodriguez',
 'Denise Garrison',
 'Timothy White',
 'Eileen Campbell',
 'Sylvia Phillips',
 'Courtney Erickson',
 'Mark Mitchell',
 'Bradley Schwartz',
 'Carla Lopez',
 'Shelby Anderson']

### 4. Courses = random country names

In [26]:
def create_course(n):
    """Returns a list of random country names"""
    fake = Faker()
    list_course = []
    for _ in range(n):
        list_course.append(fake.country())
    return list_course

In [30]:
list_course = create_course(6) 
list_course

['Monaco', 'Egypt', 'Eritrea', 'Uzbekistan', 'Russian Federation', 'Canada']

### 5. Random Assignment List

In [31]:
def random_assignment_list(list_course, list_participant):
    max_group_number = math.floor(len(list_participant) / len(list_course))
    list_distribute = []
    list_index = [i for i in range(len(list_course))]
    
    # creating participant list for each course
    for course in list_course:
        course = []
        for _ in range(max_group_number):
            participant = random.choice(list_participant)
            list_participant.remove(participant)
            course.append(participant)
        list_distribute.append(course)

    # in case participants cant be divided equally into groups
    for _ in range(len(list_participant)):
        participant = random.choice(list_participant)
        list_participant.remove(participant)
        random_index = random.choice(list_index)
        list_index.remove(random_index)
        list_distribute[random_index].append(participant)  
    return list_distribute

In [32]:
# calling the function
list_distribute = random_assignment_list(list_course, list_participant)
list_distribute

[['Bradley Schwartz', 'Daniel Rodriguez', 'Sarah Turner', 'Courtney Erickson'],
 ['Hannah Davis', 'Mark Mitchell', 'Lacey Gregory'],
 ['Chelsea Lambert', 'Elizabeth Day MD', 'Jennifer Haley', 'Timothy White'],
 ['Zachary Hutchinson', 'Anna Sanders', 'Shelby Anderson', 'Ricky Bell'],
 ['Brittany Wright', 'Amber Dunlap', 'Sylvia Phillips', 'Denise Garrison'],
 ['Samuel Long', 'Carla Lopez', 'Laura Bruce', 'Eileen Campbell']]

### 6. Assignment Table

In [37]:
 def assignment_table(list_distribute):
        """Returns a dataframe with the courses in columns and participants in rows"""
        df = pd.DataFrame(list_distribute).T
        df.columns = list_course
        return df

In [38]:
assignment_table(list_distribute)

,Monaco,Egypt,Eritrea,Uzbekistan,Russian Federation,Canada
0,Bradley Schwartz,Hannah Davis,Chelsea Lambert,Zachary Hutchinson,Brittany Wright,Samuel Long
1,Daniel Rodriguez,Mark Mitchell,Elizabeth Day MD,Anna Sanders,Amber Dunlap,Carla Lopez
2,Sarah Turner,Lacey Gregory,Jennifer Haley,Shelby Anderson,Sylvia Phillips,Laura Bruce
3,Courtney Erickson,None,Timothy White,Ricky Bell,Denise Garrison,Eileen Campbell

### 7. Just for fun, all in one

In [39]:
def random_assignment(n_course, k_participant):
    max_group_number = math.floor(k_participant / n_course)
    fake = Faker()
    list_course = []
    list_participant = []
    list_distribute = []
    list_index = [i for i in range(n_course)]
    
    #generating random courses
    for _ in range(n_course):
        list_course.append(fake.country())
        
    #generating random participants
    for _ in range(k_participant):
        list_participant.append(fake.name()) 

    # creating participant list for each course
    for course in list_course:
        course = []
        for _ in range(max_group_number):
            participant = random.choice(list_participant)
            list_participant.remove(participant)
            course.append(participant)
        list_distribute.append(course)

    # in case participants cant be divided equally into groups
    for _ in range(len(list_participant)):
        participant = random.choice(list_participant)
        list_participant.remove(participant)
        random_index = random.choice(list_index)
        list_index.remove(random_index)
        list_distribute[random_index].append(participant)      

    df = pd.DataFrame(list_distribute).T
    df.columns = list_course
    df.index += 1

    return df

In [40]:
df = random_assignment(6, 23)
df

,Bangladesh,Gambia,Sweden,Tuvalu,Ecuador,Italy
1,Timothy Tyler,Desiree Kramer,Juan Jimenez,Jill Mcdonald,Manuel Li,Brittany Grant
2,Emma Franklin,Kimberly Walters,Shannon Moore,Denise Bernard,John Barnes,Walter Walters
3,Jasmine Patterson,David Davis,James Butler,Rachael Blankenship,Danielle Thomas,Lawrence Benson
4,None,Veronica Henderson MD,Daniel Bowers,Michael Long,Stanley Dixon,Megan Flores

### 8. OOP

In [ ]:
class GroupGenerator():

    def __init__(self, n_course, k_participant):
        """Initiates the faculty with the attributes: number of participants, number of courses"""
        self.number_participant = k_participant
        self.number_course = n_course
        self.create_participant()
        self.create_course()
        self.random_assignment()
        self.assignment_table()
        print(f"Initializing a faculty with {self.number_course} courses and {self.number_participant} participants")

    def create_participant(self):
        """Returns a list of participants with random fake names"""
        fake = Faker()
        self.list_participant = []
        for _ in range(self.number_participant):
            self.list_participant.append(fake.name())
        return self.list_participant

    def create_course(self):
        """Returns a list of random country names"""
        fake = Faker()
        self.list_course = []
        for _ in range(self.number_course):
            self.list_course.append(fake.country())
        return self.list_course

    def random_assignment(self):
        """Returns an array with random lists of participants assigned equally to courses"""
        max_group_number = math.floor(self.number_participant / self.number_course)
        self.list_distribute = []
        list_index = [i for i in range(self.number_course)]
        
        # creating participant list for each course
        for course in self.list_course:
            course = []
            for _ in range(max_group_number):
                participant = random.choice(self.list_participant)
                self.list_participant.remove(participant)
                course.append(participant)
            self.list_distribute.append(course)

        # in case participants cant be divided equally into groups
        for _ in range(len(self.list_participant)):
            participant = random.choice(self.list_participant)
            self.list_participant.remove(participant)
            random_index = random.choice(list_index)
            list_index.remove(random_index)
            self.list_distribute[random_index].append(participant) 

        return self.list_distribute

    def assignment_table(self):
        """Returns a dataframe with the courses in columns and participants in rows"""
        df = pd.DataFrame(self.list_distribute).T
        df.columns = self.list_course
        df.index += 1
        return df

### 9. Testing

The class with the dependencies saved as ClassGroupGenerator.py

In [41]:
from ClassGroupGenerator import GroupGenerator

In [42]:
# initialize faculty with nr of pax and courses
Geography = GroupGenerator(6, 23)

Initializing a faculty with 6 courses and 23 participants

In [43]:
# nr of pax attribute
Geography.number_participant

23

In [44]:
# nr of course attribute
Geography.number_course

6

In [45]:
# pax with fake names
Geography.create_participant()

['Brandon Cox',
 'Ruth Sims',
 'Carrie Olson',
 'Nathaniel Smith',
 'Justin Garcia',
 'Kelsey Scott',
 'Kelly Hall',
 'Natalie Maldonado',
 'Mrs. Cindy Gallegos',
 'Richard Simpson',
 'Gina Harrison',
 'Annette Leblanc',
 'Kelly Petersen',
 'Joshua Jacobs',
 'Nicholas Robinson',
 'Ashley Jackson',
 'Gregory Marshall',
 'Bonnie Meyer DVM',
 'Lisa Martinez',
 'Brandon Wilson',
 'Juan Avery',
 'Daniel Erickson',
 'Lauren Roach']

In [46]:
# courses with fake names
Geography.create_course()

['Palestinian Territory', 'Hungary', 'Kenya', 'Panama', 'Aruba', 'Iraq']

In [47]:
# randomly assigning pax to courses 
Geography.random_assignment()

[['Nicholas Robinson', 'Nathaniel Smith', 'Gregory Marshall', 'Justin Garcia'],
 ['Kelly Hall', 'Richard Simpson', 'Ruth Sims', 'Carrie Olson'],
 ['Lisa Martinez', 'Joshua Jacobs', 'Bonnie Meyer DVM', 'Brandon Wilson'],
 ['Daniel Erickson', 'Juan Avery', 'Mrs. Cindy Gallegos', 'Kelly Petersen'],
 ['Brandon Cox', 'Ashley Jackson', 'Gina Harrison'],
 ['Annette Leblanc', 'Natalie Maldonado', 'Lauren Roach', 'Kelsey Scott']]

In [48]:
# displaying result in dataframe 
Geography.assignment_table()

,Palestinian Territory,Hungary,Kenya,Panama,Aruba,Iraq
1,Nicholas Robinson,Kelly Hall,Lisa Martinez,Daniel Erickson,Brandon Cox,Annette Leblanc
2,Nathaniel Smith,Richard Simpson,Joshua Jacobs,Juan Avery,Ashley Jackson,Natalie Maldonado
3,Gregory Marshall,Ruth Sims,Bonnie Meyer DVM,Mrs. Cindy Gallegos,Gina Harrison,Lauren Roach
4,Justin Garcia,Carrie Olson,Brandon Wilson,Kelly Petersen,None,Kelsey Scott